version: "3.9"
services:
  web:
    build:
      context: .
      # Inject the variables during the build
      args:
        VITE_SUPABASE_URL: ${VITE_SUPABASE_URL}
        VITE_SUPABASE_ANON_KEY: ${VITE_SUPABASE_ANON_KEY}
    ports:
      - "8050:80"
    env_file:
      - .env
    restart: unless-stopped
